.main-app{
  background-image:linear-gradient(#B1B2FF,#9090aa);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2vw);
}
.h2{
  text-align: center  ;
  color:rgb(211, 66, 66);
  text-shadow: 3px 3px 10px rgb(68, 149, 181);
  font-family: 'Press Start 2P', cursive;
}

